@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme{
  --color-primary: #f55252;
  --color-primary-dull: #8e0000;
}

*{
  font-family: "Outfit", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #787777 #1e1e1e;
}

body{
  background: #09090B;
  color: white;
}

.no-scrollbar{
  scrollbar-width: none;
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

::-webkit-calendar-picker-indicator {
        
        filter: brightness(50);
        width: 15px;
    }